useDynLib(gdpc, .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "sd", "var")
importFrom("parallel", "stopCluster", "makeCluster", "detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","foreach","%dopar%")

export(auto.gdpc)
export(gdpc)
