useDynLib(gdpc, .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "sd", "var","end", "frequency", "start", "ts")
importFrom("parallel", "stopCluster", "makeCluster", "detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","foreach","%dopar%")
importFrom("graphics","plot")
export(auto.gdpc)
export(gdpc)
export(plot.gdpc)
S3method("plot", "gdpc")
S3method("residuals", "gdpc")
S3method("fitted", "gdpc")
