useDynLib(gdpc, .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
importFrom("Rcpp", "evalCpp")
importFrom("stats", "sd", "var","end", "frequency", "start", "ts")
importFrom("parallel", "stopCluster", "makeCluster", "detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","foreach","%dopar%")
importFrom("graphics","plot")
importFrom("xts","xts","tzone","reclass")
importFrom("zoo","zoo", "index")
importFrom("methods","is")
export(auto.gdpc)
export(gdpc)
export(plot.gdpc)
export(plot.gdpcs)
export(components.gdpcs)
S3method("is", "gdpc")
S3method("plot", "gdpc")
S3method("fitted", "gdpc")
S3method("print", "gdpc")
S3method("is", "gdpcs")
S3method("plot", "gdpcs")
S3method("components", "gdpcs")
S3method("print", "gdpcs")
S3method("fitted", "gdpcs")